/* Creation.css */
.creation-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh; /* Full viewport height */
  }

  .creation-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f3f3f3; /* Light grey background */
  }

  .file-submit-container {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .file-submit-container label,
  .file-submit-container p {
    margin-bottom: 10px;
  }

  .file-submit-container input[type='file'] {
    margin-bottom: 10px;
  }

  .file-submit-btn {
    background-color: #6D5F9F;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .file-submit-btn:hover {
    background-color: #7C69D4;
  }